<StackLayout>
  <Label class="h1" text="Login to Community"></Label>
  <StackLayout class="form">
    <StackLayout class="input-field">
      <TextField class="input input-border" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none" [formControl]="form.controls.email"></TextField>
    </StackLayout>

    <StackLayout class="input-field">
      <TextField class="input input-border" hint="Password" [formControl]="form.controls.password" secure="true"></TextField>
    </StackLayout>

    <Button text="Log In" class="btn btn-primary" (tap)="login()"></Button>

    <Label [text]="resultMessage" class="text-danger"></Label>
  </StackLayout>
</StackLayout>

