<ActionBar class="action-bar" title="Community">
  <ActionItem
    ios.position="right"
    android.position="actionBar"
  >
    <StackLayout orientation="horizontal">
      <Label class="fas m-x-20" text="&#xf0c9;" (tap)="openDrawer()"></Label>
    </StackLayout>
  </ActionItem>
</ActionBar>

<RadSideDrawer tkExampleTitle tkToggleNavButton sideDrawerLocation="right">
  <GridLayout tkDrawerContent rows="auto, *" class="sideStackLayout">
    <StackLayout class="sideTitleStackLayout">
      <Label text="Menu"></Label>
    </StackLayout>
    <ScrollView row="1">
      <StackLayout class="sideStackLayout" >
        <StackLayout [visibility]="!hasSession() ? 'visible' : 'collapse'">
          <Label text="Home" class="sideLabel" nsRouterLink="/"></Label>
          <Label text="Login" class="sideLabel" nsRouterLink="/login"></Label>
          <Label text="Signup" class="sideLabel" nsRouterLink="/signup"></Label>
        </StackLayout>
        <StackLayout [visibility]="hasSession() ? 'visible' : 'collapse'">
          <Label text="Home" class="sideLabel" nsRouterLink="/"></Label>
          <Label text="Search" class="sideLabel" nsRouterLink="/search"></Label>
          <Label text="Notifications" class="sideLabel" nsRouterLink="/notifications"></Label>
          <Label text="Logout" class="sideLabel" (tap)="logout()"></Label>
        </StackLayout>
        <Label text="Close Drawer" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>
      </StackLayout>
    </ScrollView>
  </GridLayout>
  <StackLayout tkMainContent class="m-t-10 p-10">
    <ScrollView>
      <Label class="text-center h1 m-y-10" text="Welcome to Community!"></Label>
      <StackLayout *ngIf="isLoggedIn$ | async">
        <Label class="h4" text="What's on your mind?"></Label>
        <StackLayout class="form">
          <TextView class="input input-border" [(ngModel)]="newPostText"></TextView>
        </StackLayout>
        <Button class="btn btn-primary" text="Post" (tap)="createPost()"></Button>
        <Label text="Latest news"></Label>
        <StackLayout class="hr-light m-10"></StackLayout>
        <ActivityIndicator [busy]="wallPosts.length === 0" class="activity-indicator"></ActivityIndicator>
        <wall-post-list [wallPosts]="wallPosts"></wall-post-list>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</RadSideDrawer>
